
html, * {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.grid-container {
    display: grid;
    margin: 50px 200px 100px 360px;
    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px;
    background-color:sandybrown;
    padding: 10px;
}

.grid-item {
    align-items: center;
    border-radius: 90px;
    border: solid;
    border-color:deepskyblue;
    border-width: 7px;
}

.grid-item:hover{
    border-color: red;
}
